PORT= port number for the server to listen on

JWT_SECRET= secret key used for signing JSON Web Tokens (JWTs)
JWT_REFRESH_SECRET= secret key used for generating refresh tokens
MONGO_URI= connection string for connecting to the MongoDB database
VITE_API_BASE_URL= base URL for the API endpoints, used in the frontend application